
main{
    margin-left: 3em;
}

.userInfo{
    margin-left: 10em;
    padding: 1em;
    border: 2px solid black

}





.change-credentials{

    margin-left: 10em;
    padding: 1em;
    border: 2px solid black


}